@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Avant;
    src: url(Avant\ Garde\ Bold.ttf);
}

*{
    font-family: Avant;
}

.slides-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

#imagen-movimiento{
    animation: show-image 3s;
}

.dynamic-text{
    position: relative;

    .text-1{
        animation: vertical-movement 4s infinite;
    }
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

*::-webkit-scrollbar-track {
    background-color: #0F172A;
}

*::-webkit-scrollbar-button {
    display: none;
}

* {
    scrollbar-color: white #0F172A;
    scrollbar-width: thin;
}

#animacion-progreso{
    animation: progreso-barra 4s 1 ease-in-out;
}

@keyframes progreso-barra {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
  }
  

@keyframes vertical-movement {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    25%{
        opacity: 0.5;
        transform: translateY(5rem);
    }
    50%{
        opacity: 1;
        transform: translateY(0rem);
    }
    100%{
        opacity: 0;
        transform: translateY(-10rem);
    }
}

@keyframes show-image {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}